@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(202, 249, 248, 1) 100%, rgba(83, 237, 234, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul a {
    color: #000000;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #f80303;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #f80303;
}

header nav ul li.btn a {
    background: #f80303;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #d9ff03;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #0ed40e;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    color: #d4780e;
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #f80303;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 19px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

/* Секция с 4мя фотками */
.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all {
    color: #4910cf;
    background: #1b1b1b;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games .block:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 500ms ease;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url('/img/back.png') no-repeat center center fixed;
    background-size: cover;
    pad: 80px 0;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}
.features .info .block {
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 85px;
    text-align: center;
    margin: 0 auto;
}

/* Нижняя часть */
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #2c1515;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    color: #f80303;
    position: relative;
    right: -130px;
    z-index: 1;
    padding-right: 180px;
}

.email .block input::placeholder {
    color: #1d1f1d;
}

.email .block button {
    background-color: #f80303;
    padding: 13px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

.email .block button:hover {
    background: #d9ff03;
}

.email .block button {
    cursor: pointer;
    border: 0;
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Страница про нас */

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    background: #f80303;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
    margin-top: 20px;
}

.hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero-about img {
    position: absolute;
    right: -50px;
    top: 0;
}

/* Footer */
footer {
    background: #16b95f;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul lo {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}